<!DOCTYPE html>
<html lang="en">

<<<<<<< HEAD
    <div class="main_c">
      <div class="sec_reg">
        <div class="row">
          <div class="center">
            <div class="frm">
              <form action="/change" method="post">
                <div class="reg_cl">
                  <h3 class="reg">basic Info</h3>
                </div>
                <div>
                  <div id="section1">
                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input"
                        id="u_name"
                        value="<%=currUser.basicInfo.name%>"
                        name="name"
                      />
                      <!-- <label for="u_name" class="f_label">Name</label> -->
                    </div>

                    <div class="f_e">
                      <!-- <label for="u_name" class="f_label">Name</label> -->
                      <input
                        value="<%= currUser.basicInfo.birthdate.toLocaleDateString('en-US', { day: '2-digit', month: 'long', year: 'numeric' }) %>"                    
                        type="text"
                        onfocus="(this.type = 'date')"
                        class="f_input"
                        id="u_dob"
                        name="birthdate"
                      />
                    </div>

                    <div class="f_e">
                      <input
                        type="email"
                        class="f_input"
                        id="u_email"
                        value="<%= currUser.basicInfo.email%>"
                        name="email"
                      />
                    </div>

                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input"
                        id="u_phone"
                        value="<%= currUser.basicInfo.phoneNo%>"
                        name="phoneNo"
                      />
                    </div>
                    <div class="f_e">
                      <select
                        class="f_input"
                        id="u_gender"
                        name="gender"
                      >
                        <option value="" disabled selected hidden>
                          Gender
                        </option>
                        <% if (currUser.basicInfo.gender === 'Male') { %>
                          <option selected="selected">Male</option>
                        <% } else { %>
                          <option>Male</option>
                        <% } %>
                        <% if (currUser.basicInfo.gender === 'Female') { %>
                          <option selected="selected">Female</option>
                        <% } else { %>
                          <option>Female</option>
                        <% } %>                        
                      </select>
                    </div>
=======
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css_Form_page/style.css" />
</head>

<body>
  <div class="heading heading-secondary">Registration Form</div>

  <div class="main_c">
    <div class="sec_reg">
      <div class="row">
        <div class="center">
          <div class="frm">
            <form action="/change" method="post">
              <div class="reg_cl">
                <h3 class="reg">basic Info</h3>
              </div>
              <div>
                <div id="section1">
                  <div class="f_e">
                    <input type="text" class="f_input" id="u_name" value=<%=currUser.basicInfo.name%> name="name" />
                    <!-- <label for="u_name" class="f_label">Name</label> -->
>>>>>>> 49e3ce61bfb482dda2a26ca036ff398015209273
                  </div>

                  <div class="f_e">
                    <!-- <label for="u_name" class="f_label">Name</label> -->
                    <input value=<%= currUser.basicInfo.birthdate%> type="text" onfocus="(this.type = 'date')" class="f_input" id="u_dob" name="birthdate" />
                  </div>

                  <div class="f_e">
                    <input type="email" class="f_input" id="u_email" value=<%= currUser.basicInfo.email%> name="email" />
                  </div>

                  <div class="f_e">
                    <input type="text" class="f_input" id="u_phone" value=<%= currUser.basicInfo.phoneNo%> name="phoneNo" />
                  </div>
                  <div class="f_e">
                    <select class="f_input" id="u_gender" name="gender">
                      <option value="" disabled selected hidden>
                        Gender
                      </option>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sec_reg2">
      <div class="row2">
        <div class="center2">
          <div class="frm2">
            <div class="reg_cl2">
              <h3 class="reg2">Address Info</h3>
            </div>
            <div>
              <div id="section2">
                <div class="f_e">
                  <input type="text" class="f_input2 f_r" id="u_add" value=<%= currUser.addressInfo.address%> name="address" />
                </div>
                <div class="f_e">
                  <input type="text" class="f_input2 f_r" id="u_city" value=<%= currUser.addressInfo.city%> name="city" />
                </div>
                <div class="f_e">
                  <input type="text" class="f_input2 f_r" id="u_state" value=<%= currUser.addressInfo.state%> name="state" />
                </div>
                <div class="f_e">
                  <input type="text" class="f_input2 f_r" id="u_zip" value=<%= currUser.addressInfo.zipCode%> name="zipCode" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="sec_reg3">
      <div class="row">
        <div class="center3">
          <div class="frm">
            <div class="reg_cl">
              <h3 class="reg">Technical Skills</h3>
            </div>
            <div>
              <div id="section3">
                <div class="f_e">
                  <input type="text" class="f_input" id="u_s1" value=<%= currUser.skillsInfo.technicalSkills[0]%> name="user_tech" />
                </div>
<<<<<<< HEAD
                <div>
                  <div id="section2">
                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input2 f_r"
                        id="u_add"
                        value="<%= currUser.addressInfo.address%>"
                        name="address"
                      />
                    </div>
                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input2 f_r"
                        id="u_city"
                        value="<%= currUser.addressInfo.city%>"
                         name="city"
                      />
                    </div>
                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input2 f_r"
                        id="u_state"
                        value="<%= currUser.addressInfo.state%>"
                        name="state"
                      />
                    </div>
                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input2 f_r"
                        id="u_zip"
                        value="<%= currUser.addressInfo.zipCode%>"
                        name="zipCode"
                      />
                    </div>
                  </div>
=======

                <div class="f_e">
                  <input placeholder="Skill 2" type="text" class="f_input" id="u_s2" value=<%= currUser.skillsInfo.technicalSkills[1]%> name="user_tech" />
                </div>

                <div class="f_e">
                  <input type="text" class="f_input" id="u_s3" value=<%= currUser.skillsInfo.technicalSkills[2]%> name="user_tech" />
                </div>

                <div class="f_e">
                  <input type="text" class="f_input" id="u_s4" value=<%= currUser.skillsInfo.technicalSkills[3]%> name="user_tech" />
>>>>>>> 49e3ce61bfb482dda2a26ca036ff398015209273
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- non tech -->
    <div class="sec_reg2">
      <div class="row2">
        <div class="center2">
          <div class="frm2">
            <div class="reg_cl2">
              <h3 class="reg2">Non-Tech Skills</h3>
            </div>
            <div>
              <div id="section8">
                <div class="f_e">
                  <input type="text" class="f_input2 f_r" value=<%= currUser.skillsInfo.nontechnicalSkills[0]%> name="user_non_tech" />
                </div>
<<<<<<< HEAD
                <div>
                  <div id="section3">
                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input"
                        id="u_s1"
                        value="<%= currUser.skillsInfo.technicalSkills[0]%>"
                        name="user_tech"
                      />
                    </div>

                    <div class="f_e">
                      <input
                        placeholder="Skill 2"
                        type="text"
                        class="f_input"
                        id="u_s2"
                        value="<%= currUser.skillsInfo.technicalSkills[1]%>"
                        name="user_tech"
                      />
                    </div>

                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input"
                        id="u_s3"
                        value="<%= currUser.skillsInfo.technicalSkills[2]%>"
                        name="user_tech"
                      />
                    </div>

                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input"
                        id="u_s4"
                        value="<%= currUser.skillsInfo.technicalSkills[3]%>"
                        name="user_tech"
                      />
                    </div>
                  </div>
=======
                <div class="f_e">
                  <input type="text" class="f_input2 f_r" value=<%= currUser.skillsInfo.nontechnicalSkills[1]%> name="user_non_tech" />
                </div>
                <div class="f_e">
                  <input type="text" class="f_input2 f_r" value=<%= currUser.skillsInfo.nontechnicalSkills[2]%> name="user_non_tech" />
                </div>
                <div class="f_e">
                  <input type="text" class="f_input2 f_r" value=<%= currUser.skillsInfo.nontechnicalSkills[3]%> name="user_non_tech" />
>>>>>>> 49e3ce61bfb482dda2a26ca036ff398015209273
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->

<<<<<<< HEAD
        <!-- non tech -->
        <div class="sec_reg2">
          <div class="row2">
            <div class="center2">
              <div class="frm2">
                <div class="reg_cl2">
                  <h3 class="reg2">Non-Tech Skills</h3>
                </div>
                <div>
                  <div id="section8">
                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input2 f_r"
                        value="<%= currUser.skillsInfo.nontechnicalSkills[0]%>"
                        name="user_non_tech"
                      />
                    </div>
                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input2 f_r"
                        value="<%= currUser.skillsInfo.nontechnicalSkills[1]%>"
                        name="user_non_tech"
                      />
                    </div>
                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input2 f_r"
                        value="<%= currUser.skillsInfo.nontechnicalSkills[2]%>"
                        name="user_non_tech"
                      />
                    </div>
                    <div class="f_e">
                      <input
                        type="text"
                        class="f_input2 f_r"
                        value="<%= currUser.skillsInfo.nontechnicalSkills[3]%>"
                        name="user_non_tech"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
=======
    <!-- education -->
    <div class="education sec_reg3 reg_cl">
      <div class="regPro reg2 ">Education</div>
>>>>>>> 49e3ce61bfb482dda2a26ca036ff398015209273

      <!--  -->
      <div class="row2">
        <div class="col-1-of-2">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--1">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">Highschool
                </span>
              </h4>
              <!-- <div class="card__details">
                <ul>
                  <li>3 day tours</li>
                  <li>Up to 30 people</li>
                  <li>2 tour guides</li>
                  <li>Sleep in cozy hotels</li>
                  <li>Difficulty: easy</li>
                </ul>
              </div> -->
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <!-- <div class="f_e f_input"> -->

<<<<<<< HEAD
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%= currUser.educationInfo.hsName%>"
                         name="hsName"
                        />
                      </div>
                      <div class="f_e">
                        <input
                        value="<%=currUser.educationInfo.hsStart.toLocaleDateString('en-US', { year: 'numeric', month: 'long' })%>"
                        type="text"
                        onfocus="(this.type = 'month')"
                          class="f_input card_in2edu "
                          name="hsStart"
                        />
                      </div>
                      <div class="f_e">
                        <input
                        value="<%= currUser.educationInfo.hsEnd.toLocaleDateString('en-US', { year: 'numeric', month: 'long' }) %>"
                        type="text"
                        onfocus="(this.type = 'month')"
                          class="f_input card_in2edu "
                          name="hsEnd"
                        />
                      </div>
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%= currUser.educationInfo.hsPercentage%>"
                          name="hsPercentage"
                        />
                      </div>
                      <!-- <div class="card__price-box">
                      <p class="card__price-only">Only</p>
                      <p class="card__price-value"">$297</p>
                    </div> --">
                      <!-- <a href="#popup" class="btnp btn--white">Enter</a> -->
                    <!-- </div> -->
                  </div>
                </div>
=======
                <div class="f_e">
                  <input type="text" class="f_input card_in2" value=<%= currUser.educationInfo.hsName%> name="hsName" />
                </div>
                <div class="f_e">
                  <input value=<%= currUser.educationInfo.Start%> type="text" onfocus="(this.type = 'month')" class="f_input card_in2edu " name="hsStart" />
                </div>
                <div class="f_e">
                  <input value=<%= currUser.educationInfo.hsEnd%> type="text" onfocus="(this.type = 'month')" class="f_input card_in2edu " name="hsEnd" />
                </div>
                <div class="f_e">
                  <input type="text" class="f_input card_in2" value=<%= currUser.educationInfo.hsPercentage%> name="hsPercentage" />
                </div>
                <!-- <div class="card__price-box">
                      <p class="card__price-only">Only</p>
                      <p class="card__price-value">$297</p>
                    </div> -->
                <!-- <a href="#popup" class="btnp btn--white">Enter</a> -->
                <!-- </div> -->
>>>>>>> 49e3ce61bfb482dda2a26ca036ff398015209273
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->

        <!-- <div class="row"> -->
        <div class="col-1-of-2">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--1">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">College
                </span>
              </h4>
              <!-- <div class="card__details">
                  <ul>
                    <li>3 day tours</li>
                    <li>Up to 30 people</li>
                    <li>2 tour guides</li>
                    <li>Sleep in cozy hotels</li>
                    <li>Difficulty: easy</li>
                  </ul>
                </div> -->
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <!-- <div class="f_e f_input"> -->

<<<<<<< HEAD
                        <div class="f_e">
                          <input
                            type="text"
                            class="f_input card_in2"
                            value="<%= currUser.educationInfo.cName%>"
                            name="cName"
                          />
                        </div>
                        <div class="f_e">
                          <input
                          value="<%=currUser.educationInfo.cStart.toLocaleDateString('en-US', { year: 'numeric', month: 'long' })%>"
                          type="text"
                          onfocus="(this.type = 'month')"
                            class="f_input card_in2edu "
                            name="cStart"
                          />
                        </div>
                        <div class="f_e">
                          <input
                          value="<%=currUser.educationInfo.cEnd.toLocaleDateString('en-US', { year: 'numeric', month: 'long' })%>"
                          type="text"
                          onfocus="(this.type = 'month')"
                            class="f_input card_in2edu "
                            name="cEnd"
                          />
                        </div>
                        <div class="f_e">
                          <input
                            type="text"
                            class="f_input card_in2"
                            value="<%= currUser.educationInfo.cBranch%>"
                            name="cBranch"
                          />
                        </div>
                        <div class="f_e">
                          <input
                            type="text"
                            class="f_input card_in2"
                            value="<%= currUser.educationInfo.cCg%>"
                            name="cCg"
                          />
                        </div>
                        <!-- <div class="card__price-box">
                        <p class="card__price-only">Only</p>
                        <p class="card__price-value"">$297</p>
                      </div> "-->
                        <!-- <a href="#popup" class="btnp btn--white">Enter</a> -->
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>


          </div>
          <!--  -->
        </div>
        <!-- end -->

        <div class="sec_reg3">
          <div class="row">
            <div class="center3">
              <div class="frm">
                <div class="reg_cl">
                  <h3 class="reg">Hobbies Info</h3>
                </div>
                <div>
                  <div id="section3">
                    <div class="sport">
                      <div class="hea">Sports</div>
                      <div class="form__radio-group">
                        <input
                          type="checkbox"
                          class="form__radio-input"
                          id="cricket"
                          name="cricket"
                         <% if (currUser.hobbiesInfo.sports.includes('Cricket')) {%>
                           checked 
                          <% } %>
                        />
                        <label for="cricket" class="form__radio-label">
                          <span class="form__radio-button"></span>
                          Cricket
                        </label>
                      </div>

                      <div class="form__radio-group">
                        <input
                          type="checkbox"
                          class="form__radio-input"
                          id="Football"
                          name="football"
                          <% if (currUser.hobbiesInfo.sports.includes('Football')) {%>
                            checked 
                           <% } %>
                        />
                        <label for="Football" class="form__radio-label">
                          <span class="form__radio-button"></span>
                          Football
                        </label>
                      </div>

                      <div class="form__radio-group">
                        <input
                          type="checkbox"
                          class="form__radio-input"
                          id="BasketBall"
                          name="basketBall"
                          <% if (currUser.hobbiesInfo.sports.includes('Basket Ball')) {%>
                            checked 
                           <% } %>
                        />
                        <label for="BasketBall" class="form__radio-label">
                          <span class="form__radio-button"></span>
                          BasketBall
                        </label>
                      </div>


                    </div>

                    <hr class="form_line" />

                    <div class="form__radio-group">
                      <input
                        type="checkbox"
                        class="form__radio-input"
                        id="small"
                        name="music"
                        <% if (currUser.hobbiesInfo.others.includes('Music')) {%>
                          checked 
                         <% } %>
                      />
                      <label for="small" class="form__radio-label">
                        <span class="form__radio-button"></span>
                        Music
                      </label>
                    </div>
                    <div class="form__radio-group">
                      <input
                        type="checkbox"
                        class="form__radio-input"
                        id="large"
                        name="arts"
                        <% if (currUser.hobbiesInfo.others.includes('Arts')) {%>
                          checked 
                         <% } %>
                      />
                      <label for="large" class="form__radio-label">
                        <span class="form__radio-button"></span>
                        Arts
                      </label>
                    </div>
                    <input
                      type="text"
                      id="u_hobby"
                      class="f_input"
                      style="margin-top: 5%"
                      name="otherHobbies"
                      value="<%=currUser.hobbiesInfo.others%>"
=======
                <div class="f_e">
                  <input type="text" class="f_input card_in2" value=<%= currUser.educationInfo.cName%> name="cName" />
                </div>
                <div class="f_e">
                  <input value=<%= currUser.educationInfo.cStart%> type="text" onfocus="(this.type = 'month')" class="f_input card_in2edu " name="cStart" />
                </div>
                <div class="f_e">
                  <input value=<%= currUser.educationInfo.cEnd%> type="text" onfocus="(this.type = 'month')" class="f_input card_in2edu " name="cEnd" />
                </div>
                <div class="f_e">
                  <input type="text" class="f_input card_in2" value=<%= currUser.educationInfo.cBranch%> name="cBranch" />
                </div>
                <div class="f_e">
                  <input type="text" class="f_input card_in2" value=<%= currUser.educationInfo.cCg%> name="cCg" />
                </div>
                <!-- <div class="card__price-box">
                        <p class="card__price-only">Only</p>
                        <p class="card__price-value">$297</p>
                      </div> -->
                <!-- <a href="#popup" class="btnp btn--white">Enter</a> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>


      </div>
      <!--  -->
    </div>
    <!-- end -->


    <div class="sec_reg2">
      <div class="row2">
        <div class="center2">
          <div class="frm2">
            <div class="reg_cl2">
              <h3 class="reg2">Login Info</h3>
            </div>
            <div>
              <div id="section4">
                <div class="f_e">
                  <input type="text" class="f_input2 f_r" id="u_username" placeholder="Username" name="userName" />
                </div>
                <div class="f_e">
                  <input type="password" class="f_input2 f_r" id="u_pass" placeholder="Password" name="password" />
                </div>
                <div class="f_e">
                  <input type="password" class="f_input2 f_r" id="u_cpass" placeholder="Confirm Password" />
                  <div class="f_e">
                    <select class="f_r f_input2 secq" name="securityQuestion">
                      <option value="" disabled selected hidden>
                        Security Question
                      </option>
                      <option>Name of your Dog</option>
                      <option>Name of your first school</option>
                      <option>Favourite food</option>
                    </select>
>>>>>>> 49e3ce61bfb482dda2a26ca036ff398015209273
                    />
                  </div>
                  <div class="f_e">
                    <input type="text" class="f_input2 f_r" id="u_ans" placeholder="Answer" name="answer" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sec_reg3">
      <div class="row">
        <div class="center3">
          <div class="frm">
            <div class="reg_cl">
              <h3 class="reg">Hobbies Info</h3>
            </div>
            <div>
              <div id="section3">
                <div class="sport">
                  <div class="hea">Sports</div>
                  <div class="form__radio-group">
                    <input type="checkbox" class="form__radio-input" id="cricket" name="cricket" <% if (currUser.hobbiesInfo.sports.includes('Cricket')) {%> checked <% } %> />
                    <label for="cricket" class="form__radio-label">
                      <span class="form__radio-button"></span>
                      Cricket
                    </label>
                  </div>

                  <div class="form__radio-group">
                    <input type="checkbox" class="form__radio-input" id="Football" name="football" <% if (currUser.hobbiesInfo.sports.includes('football')) {%> checked <% } %> />
                    <label for="Football" class="form__radio-label">
                      <span class="form__radio-button"></span>
                      Football
                    </label>
                  </div>

                  <div class="form__radio-group">
                    <input type="checkbox" class="form__radio-input" id="BasketBall" name="basketBall" <% if (currUser.hobbiesInfo.sports.includes('Basket ball')) {%> checked <% } %> />
                    <label for="BasketBall" class="form__radio-label">
                      <span class="form__radio-button"></span>
                      BasketBall
                    </label>
                  </div>


                </div>

                <hr class="form_line" />

                <div class="form__radio-group">
                  <input type="checkbox" class="form__radio-input" id="small" name="music" <% if (currUser.hobbiesInfo.sports.includes('music')) {%> checked <% } %> />
                  <label for="small" class="form__radio-label">
                    <span class="form__radio-button"></span>
                    Music
                  </label>
                </div>
                <div class="form__radio-group">
                  <input type="checkbox" class="form__radio-input" id="large" name="arts" <% if (currUser.hobbiesInfo.sports.includes('arts')) {%> checked <% } %> />
                  <label for="large" class="form__radio-label">
                    <span class="form__radio-button"></span>
                    Arts
                  </label>
                </div>
                <input type="text" id="u_hobby" class="f_input" style="margin-top: 5%" name="otherHobbies" value=<%=currUser.hobbiesInfo.others%> />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="project">
      <div class="reg regPro">Projects</div>

      <!--  -->
      <div class="row">
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--1">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">Project I
                </span>
              </h4>
              <!-- <div class="card__details">
                <ul>
                  <li>3 day tours</li>
                  <li>Up to 30 people</li>
                  <li>2 tour guides</li>
                  <li>Sleep in cozy hotels</li>
                  <li>Difficulty: easy</li>
                </ul>
              </div> -->
<<<<<<< HEAD
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="f_e f_input">
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%=currUser.projectInfo.name[0]%>"
                          name="Pname"
                        />
                      </div>
                      <select class="card_in f_input" name="domain">
                        <option value=""" disabled selected hidden>
                          <%=currUser.projectInfo.domain[0]%>
                        </option>
                        <option>WebD</option>
                        <option>AppD</option>
                        <option>ML</option>
                        <option>AI</option>
                        <option>Blockchain</option>
                        <option>Metaverse</option>
                        <option>Design</option>
                        <option>IOT/Cyber security</option>
                        <option>Other</option>
                      </select>
                      <!-- </div> -->
                      <!-- <div class="f_input"> -->
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%=currUser.projectInfo.technologies[0]%>"
                          name="techonologies"
                        />
                      </div>
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%=currUser.projectInfo.githubRepo[0]%>"
                          name="githubRepo"
                        />
                      </div>
                      <!-- <div class="card__price-box">
                      <p class="card__price-only">Only</p>
                      <p class="card__price-value"">$297</p>
                    </div> --">
                      <!-- <a href="#popup" class="btnp btn--white">Enter</a> -->
                    </div>
                  </div>
=======
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="f_e f_input">
                  <div class="f_e">
                    <input type="text" class="f_input card_in2" value=<%=currUser.projectInfo.name[0]%> name="Pname" />
                  </div>
                  <select class="card_in f_input" name="domain">
                    <option value="" disabled selected hidden>
                      Domain
                    </option>
                    <option>WebD</option>
                    <option>AppD</option>
                    <option>ML</option>
                    <option>AI</option>
                    <option>Blockchain</option>
                    <option>Metaverse</option>
                    <option>Design</option>
                    <option>IOT/Cyber security</option>
                    <option>Other</option>
                  </select>
                  <!-- </div> -->
                  <!-- <div class="f_input"> -->
                  <div class="f_e">
                    <input type="text" class="f_input card_in2" placeholder="Technologies" name="techonologies" />
                  </div>
                  <div class="f_e">
                    <input type="text" class="f_input card_in2" placeholder="Github Repo" name="githubRepo" />
                  </div>
                  <!-- <div class="card__price-box">
                      <p class="card__price-only">Only</p>
                      <p class="card__price-value">$297</p>
                    </div> -->
                  <!-- <a href="#popup" class="btnp btn--white">Enter</a> -->
>>>>>>> 49e3ce61bfb482dda2a26ca036ff398015209273
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->

        <!-- <div class="row"> -->
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--1">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">Project II
                </span>
              </h4>
              <!-- <div class="card__details">
                  <ul>
                    <li>3 day tours</li>
                    <li>Up to 30 people</li>
                    <li>2 tour guides</li>
                    <li>Sleep in cozy hotels</li>
                    <li>Difficulty: easy</li>
                  </ul>
                </div> -->
<<<<<<< HEAD
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="f_e f_input">
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%=currUser.projectInfo.name[1]%>"
                          name="Pname"
                        />
                      </div>
                      <select class="card_in f_input" name="domain">
                        <option value="" disabled selected hidden>
                          <%=currUser.projectInfo.domain[1]%>
                        </option>
                        <option>WebD</option>
                        <option>AppD</option>
                        <option>ML</option>
                        <option>AI</option>
                        <option>Blockchain</option>
                        <option>Metaverse</option>
                        <option>Design</option>
                        <option>IOT/Cyber security</option>
                        <option>Other</option>
                      </select>
                      <!-- </div> -->
                      <!-- <div class="f_input"> -->
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%=currUser.projectInfo.technologies[1]%>"
                          name="techonologies"
                        />
                      </div>
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%=currUser.projectInfo.githubRepo[1]%>"
                          name="githubRepo"
                        />
                      </div>
                      <!-- <div class="card__price-box">
                        <p class="card__price-only">Only</p>
                              <p class="card__price-value"">$297</p>
                            <"/div> -->
                      <!-- <a href="#popup" class="btnp btn--white">Enter</a> -->
                    </div>
                  </div>
=======
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="f_e f_input">
                  <div class="f_e">
                    <input type="text" class="f_input card_in2" value=<%=currUser.projectInfo.name[1]%> name="Pname" />
                  </div>
                  <select class="card_in f_input" name="domain">
                    <option value="" disabled selected hidden>
                      Domain
                    </option>
                    <option>WebD</option>
                    <option>AppD</option>
                    <option>ML</option>
                    <option>AI</option>
                    <option>Blockchain</option>
                    <option>Metaverse</option>
                    <option>Design</option>
                    <option>IOT/Cyber security</option>
                    <option>Other</option>
                  </select>
                  <!-- </div> -->
                  <!-- <div class="f_input"> -->
                  <div class="f_e">
                    <input type="text" class="f_input card_in2" placeholder="Technologies" name="techonologies" />
                  </div>
                  <div class="f_e">
                    <input type="text" class="f_input card_in2" placeholder="Github Repo" name="githubRepo" />
                  </div>
                  <!-- <div class="card__price-box">
                        <p class="card__price-only">Only</p>
                              <p class="card__price-value">$297</p>
                            </div> -->
                  <!-- <a href="#popup" class="btnp btn--white">Enter</a> -->
>>>>>>> 49e3ce61bfb482dda2a26ca036ff398015209273
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--1">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">Project III
                </span>
              </h4>
              <!-- <div class="card__details">
                        <ul>
                          <li>3 day tours</li>
                          <li>Up to 30 people</li>
                          <li>2 tour guides</li>
                          <li>Sleep in cozy hotels</li>
                          <li>Difficulty: easy</li>
                        </ul>
                      </div> -->
<<<<<<< HEAD
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="f_e f_input">
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%=currUser.projectInfo.name[2]%>"
                          name="Pname"
                        />
                      </div>
                      <select class="card_in f_input" name="domain">
                        <option value="" disabled selected hidden>
                          <%=currUser.projectInfo.domain[2]%>
                        </option>
                        <option>WebD</option>
                        <option>AppD</option>
                        <option>ML</option>
                        <option>AI</option>
                        <option>Blockchain</option>
                        <option>Metaverse</option>
                        <option>Design</option>
                        <option>IOT/Cyber security</option>
                        <option>Other</option>
                      </select>
                      <!-- </div> -->
                      <!-- <div class="f_input"> -->
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%=currUser.projectInfo.technologies[2]%>"
                          name="techonologies"
                        />
                      </div>
                      <div class="f_e">
                        <input
                          type="text"
                          class="f_input card_in2"
                          value="<%=currUser.projectInfo.githubRepo[2]%>"
                          name="githubRepo"
                        />
                      </div>
                      <!-- <div class="card__price-box">
                        <p class="card__price-only">Only</p>
                        <p class="card__price-value"">$297</p>
                      </div> "-->
                      <!-- <a href="#popup" class="btnp btn--white">Enter</a> -->
                    </div>
                  </div>
=======
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="f_e f_input">
                  <div class="f_e">
                    <input type="text" class="f_input card_in2" value=<%=currUser.projectInfo.name[2]%> name="Pname" />
                  </div>
                  <select class="card_in f_input" name="domain">
                    <option value="" disabled selected hidden>
                      Domain
                    </option>
                    <option>WebD</option>
                    <option>AppD</option>
                    <option>ML</option>
                    <option>AI</option>
                    <option>Blockchain</option>
                    <option>Metaverse</option>
                    <option>Design</option>
                    <option>IOT/Cyber security</option>
                    <option>Other</option>
                  </select>
                  <!-- </div> -->
                  <!-- <div class="f_input"> -->
                  <div class="f_e">
                    <input type="text" class="f_input card_in2" placeholder="Technologies" name="techonologies" />
                  </div>
                  <div class="f_e">
                    <input type="text" class="f_input card_in2" placeholder="Github Repo" name="githubRepo" />
                  </div>
                  <!-- <div class="card__price-box">
                        <p class="card__price-only">Only</p>
                        <p class="card__price-value">$297</p>
                      </div> -->
                  <!-- <a href="#popup" class="btnp btn--white">Enter</a> -->
>>>>>>> 49e3ce61bfb482dda2a26ca036ff398015209273
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
    </div>

    <div class="sub">
      <div class="end_txt">Done with Editing ?</div>
      <button type="submit" class="btnp btn--white">EDIT</button>
    </div>
    </form>
  </div>
</body>

</html>